<!-- nouvelle_page.html -->
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouvelle Page</title>
    <link rel="stylesheet" href="style.css">
    <!-- Ajoutez les liens vers vos feuilles de style et scripts nécessaires ici -->
</head>
<body>
    <header>
        <img src="..\templates\img\logo_meteo1.png" alt="Left Logo" class="logo left-logo" />
        <h1>Évelyne Dhéliat</h1>
        <img src="img\logo_imt1.jpg" alt="Right Logo" class="logo right-logo" />
    </header>

    <nav>
        <button>Aujourd'hui</button>
        <button>J+1</button>
        <button>J+2</button>
        <button>J+3</button>
        <button>J+4</button>
        <button>J+5</button>
        <button>J+6</button>
        <button>J+7</button>
    </nav>

    <section style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <!-- Contenu spécifique de la nouvelle page -->
        <h2>Bienvenue sur le compte admin</h2>
        <p>Ajoutez votre contenu ici.</p>
    </section>

    <footer>
        &copy; 2023 My Elegant Website. All rights reserved.
    </footer>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://unpkg.com/awesomplete/awesomplete.js" async></script>

    <!-- Ajoutez d'autres liens vers des scripts spécifiques à cette page si nécessaire -->
</bo
