<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Weather Data Form</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="icon" type="image/x-icon" href="img\evelyne.ico">
</head>
<body onload="updateManageFragment()">
    <header>
        <img src="img\logo_meteo1.png" alt="Left Logo" class="logo left-logo" />
        <h1>Évelyne Dhéliat</h1>
        <img src="img\logo_imt1.jpg" alt="Right Logo" class="logo right-logo" />
    </header>

    <nav>
        <button id="btnTopCity" onclick="receptDataAPI('Paris')">Toulouse</button>
        <button id="btnTopCity" onclick="receptDataAPI('Lyon')">Lyon</button>
        <button id="btnTopCity" onclick="receptDataAPI('Lille')">Lille</button>
        <button id="btnTopCity" onclick="receptDataAPI('Marseille')">Marseille</button>
        <button id="btnTopCity" onclick="receptDataAPI('Rennes')">Rennes</button>
        <button id="btnTopCity" onclick="receptDataAPI('Bordeaux')">Bordeaux</button>
    </nav>

    <section style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <h2>Bienvenue sur notre nouveau site météorologique</h2>
        <div id="searchSection">
            <input type="text" id="city" placeholder="Entrez une ville">
            <button onclick="receptDataAPI(document.getElementById('city').value)" id="sendButton">Rechercher la météo</button>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div id="mapContainer"> </div>
                </div>
                <div class="col-md-4">
                    <div id="ManageDays"></div>
                </div>
            </div>
        </div>
        <div id="weatherDataContainer" ></div>
    </section>

    <footer style="position:relative;">
        &copy; 2023 Team Greedy. All rights reserved.
        <p></p>
        <a th:href="@{/admin}">Admin Login</a>
    </footer>
    
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <script th:inline="javascript">

        var markers = [];
        var markersInitiase = false;
        var defaultLatitude = 48.8566;
        var defaultLongitude = 2.3522;

        var map = L.map('mapContainer').setView([defaultLatitude, defaultLongitude], 10);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        var markersInitiase = false;
        function updateManageFragment() {
            $.ajax({
                    type: "POST",
                    url: "/manageDays",
                    success: function (response) {
                        var ManageDays = $('#ManageDays');
                        if (ManageDays.length > 0) {
                            ManageDays.empty().html(response);
                        } else {
                            console.error("Weather container not found.");
                        }
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });

                
            }

            

        function receptDataAPI(city) {
            $.ajax({
                type: "POST",
                url: "/test",
                data: { city: city },
                success: function (response) {
                    var weatherContainer = $('#weatherDataContainer');
                    if (weatherContainer.length > 0) {
                        weatherContainer.empty().html(response);
                    } else {
                        console.error("Weather container not found.");
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
            var weatherDataContainer = document.getElementById('weatherDataContainer');
                if (weatherDataContainer) {
                    weatherDataContainer.style.display = 'block';
                }
        }

        function addMarker(longitude, latitude, address, temp, conditions, icon) {
            if (latitude !== null && longitude !== null) {
                var markerId = latitude + '_' + longitude;

                var existingMarker = markers.find(function (marker) {
                    return marker.id === markerId;
                });

                if (existingMarker) {
                    existingMarker.marker.openPopup();
                    map.setView([latitude, longitude], 10);
                    console.log(markers);
                } else {
                    var newMarker = L.marker([latitude, longitude], { addressMark: address }).addTo(map)
                        .bindPopup("<div style='display: flex; align-items: center;'><img src='img/" + icon + ".png' style='max-width: 100px; max-height: 100px; margin-right: 10px;'><div><strong>Voici la météo de " + address + "</strong><br>Température actuelle : " + temp + " °C<br>Conditions : " + conditions + "</div></div>").openPopup()
                        .on('click', function () {
                            receptDataAPI(this.options.addressMark);
                        });
                        console.log(markers);
                    markers.push({
                        id: markerId,
                        marker: newMarker
                    });

                    map.setView([latitude, longitude], 10);
                }
            } else {
                console.error('Latitude or longitude is undefined.');
            }
        }

        function suppMarker(latitude, longitude) {
    var markerId = latitude + '_' + longitude;
    var existingMarkerIndex = markers.findIndex(function (marker) {
        return marker.id === markerId;
    });

    if (existingMarkerIndex !== -1) {
        var removedMarker = markers.splice(existingMarkerIndex, 1)[0]; // Retire le marqueur du tableau
        removedMarker.marker.removeFrom(map);
        console.log(markers);

        map.setView([46.6031, 1.8883], 5);
    } else {
        console.error('Le marqueur n\'existe pas.');
    }
}


        function suppManageData(city) {
                $.ajax({
                    type: "DELETE",
                    url: "/suppDataCity",
                    data: { city: city },
                    success: function (response) {
                        var ManageDays = $('#ManageDays');
                        if (ManageDays.length > 0) {
                            ManageDays.empty().html(response);
                        } else {
                            console.error("Weather container not found.");
                        }
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });

                var weatherDataContainer = document.getElementById('weatherDataContainer');
                if (weatherDataContainer) {
                    weatherDataContainer.style.display = 'none';
                }
            }
    </script>
</body>

</html>
