body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #343a40;
}

header {
    background: linear-gradient(to right, #3498db, #2980b9);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    max-width: 150px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-logo {
    left: 20px;
}

.right-logo {
    right: 20px;
}

nav {
    background-color: #fbb900;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0b203e;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

button:hover {
    transform: translateY(-3px);
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#mapContainer {
    height: 400px;
    margin-top: 20px;
    width: 60%;
}

/* Styles pour les balises <p> */
p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.5;
}

/* Styles pour les tableaux */
table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #e9ecef;
}

th, td {
    padding: 12px;
    text-align: left;
}

.cellule-image {
    /* Ajoutez ici les styles spécifiques pour les cellules contenant des images */
    /* Par exemple, vous pouvez définir une couleur de fond différente */
    background-color: lightgray;
}

thead {
    background-color: #343a40;
    color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

/* Styles spécifiques pour les balises <p> dans la section */
section p {
    font-weight: bold;
    color: #3498db;
    text-align: center;
}

/* Styles spécifiques pour les balises <p> dans le pied de page */
footer p {
    font-size: 14px;
    color: #ffffff;
}

/* Styles spécifiques pour les boutons */
button {
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0b203e;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

button:hover {
    transform: translateY(-3px);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black; /* Couleur de fond des flèches */
    color: white; /* Couleur du texte des flèches */
}
