body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #343a40;
}

header {
    background: linear-gradient(to right, #7e8285, #2980b9);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    max-width: 150px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h2 {
    font-size: 24px; /* Taille de police */
    color: #333; /* Couleur du texte */
    margin-bottom: 10px; /* Marge en bas */
    text-align: center;
    letter-spacing: 2px;
    text-decoration: overline solid #2265c2;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    /* Ajoutez d'autres styles selon vos besoins */
}

/* Style pour le conteneur principal */
#searchSection {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

/* Style pour l'étiquette "Ville" */
label {
    font-size: 18px;
    margin-right: 10px;
}

/* Style pour la zone de saisie de la ville */
#city {
    padding: 8px;
    font-size: 16px;
    margin-right: 10px;
}

/* Style pour le bouton "Envoyer Données" */
#sendButton {
    background-color: #2265c2;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#loginButton {
    background-color: #2265c2;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block;  /* Changez display en block pour occuper toute la largeur disponible */
    margin: 0 auto;  /* Centrez horizontalement en utilisant margin auto */
}

#sendButton:hover {
    background-color: #fbb900;
}

.left-logo {
    left: 20px;
}

.right-logo {
    right: 20px;
}

nav {
    background-color: #fbb900;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #2265c2;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

button:hover {
    background-color: #fbb900;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#mapContainer {
    height: 400px;
    margin-top: 20px;
}

#manageFragment {
    margin-top: 20px;
    align-items: center;
}

p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.5;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

table, th, td {
    border: 1px solid #e9ecef;
    text-align: center;
}

th, td {
    padding: 12px;
    text-align: left;
    text-align: center;
}

.cellule-image {
    /* Ajoutez ici les styles spécifiques pour les cellules contenant des images */
    /* Par exemple, vous pouvez définir une couleur de fond différente */
    background-color: lightgray;
}

thead {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa;
    text-align: center;
}


/* Styles spécifiques pour les balises <p> dans le pied de page */
footer p {
    font-size: 14px;
    color: #ffffff;
}

/* Styles spécifiques pour les boutons */
btnTopCity {
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0b203e;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

btnTopCity:hover {
    transform: translateY(-3px);
}

.carousel-control-prev,
.carousel-control-next {
    color: #fff; /* Couleur des flèches */
    font-size: 2rem; /* Taille de la police */
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond des flèches */
    border-radius: 50%; /* Bordure arrondie */
    width: 40px; /* Largeur des flèches */
    height: 40px; /* Hauteur des flèches */
    line-height: 40px; /* Hauteur de ligne égale à la hauteur des flèches */
    text-align: center; /* Alignement horizontal au centre */
    align-items: center; /* Alignement vertical au centre */
    display: flex; /* Utilisation de flexbox */
    position: absolute; /* Position absolue */
    top: 50%; /* Alignement vertical au centre */
    transform: translateY(-50%); /* Ajustement pour centrer verticaleme*/
}

/* Styles pour les flèches du carrousel au survol */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Changement de couleur au survol */
}


.card {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
    text-align: center;
}

.card-image {
    width: 100%;
    max-height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text {
    margin-bottom: 5px;
}

.row {
    margin-bottom: 20px;
}

.weather-container {
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-item {
    cursor: pointer;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s;
}

.weather-item:hover {
    background-color: #f5f5f5;
}

form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

