<div class="weather-container" style="max-height: 400px; overflow-y: auto;">
    <div th:each="weatherData, iterStat : ${weatherDataLists}" class="weather-item" th:onclick="receptDataAPI([[${weatherData.address}]])">
        <p style="text-align: center; text-decoration: dashed;">
            <span th:text="${weatherData.resolvedAddress}"></span>

            <!-- Afficher le bouton Supprimer lorsque l'indice dépasse 5 -->
            <span th:if="${iterStat.index > 5}">
                <button style="background-color: red;" onclick="SuppManageData([[${iterStat.index}]])">Supprimer</button>
            </span>
        </p>
        <script th:inline="javascript">
            // Ajouter les marqueurs uniquement lors du chargement initial
            if (!markersInitiase) {
                addMarker(
                    /*[[${weatherData.longitude}]]*/ null,
                    /*[[${weatherData.latitude}]]*/ null,
                    /*[[${weatherData.address}]]*/ null,
                    /*[[${weatherData.weatherDataCurrentConditions.temp}]]*/ null,
                    /*[[${weatherData.weatherDataCurrentConditions.conditions}]]*/ null,
                    /*[[${weatherData.weatherDataCurrentConditions.icon}]]*/ null
                );
                map.setView([46.6031, 1.8883], 5);
                map.closePopup();
            }
        </script>
    </div>
    <script th:inline="javascript">markersInitiase = true;</script>
</div>
 