
<div th:each="weatherData : ${weatherDataLists}">
    <!-- Boucle sur chaque élément dans weatherDataLists pour afficher les données météo -->
    <p style="text-align: center; text-decoration: dashed;">
         <!-- Affichage de l'adresse résolue pour chaque jeu de données météo -->
        <span th:text="${weatherData.resolvedAddress}"> </span>
    </p>

    <div th:fragment="weatherConditions">
         <!-- Fragment pour les conditions météorologiques actuelles -->
        <h2>Conditions actuelles</h2>
        <table border="1">
            <!-- Tableau pour les conditions météorologiques actuelles -->
            <tbody>
                <tr>
                     <!-- En-têtes pour les différentes mesures météorologiques -->
                    <th>Fraicheur</th>
                    <th>Température</th>
                    <th>Humidité</th>
                    <th>Précipitations</th>
                    <th>Vitesse du vent</th>
                    <th>Conditions</th>
                    <th>Levé du soleil</th>
                    <th>Couché du soleil</th>
                </tr>
                <tr>
                    <!-- Affichage des valeurs météorologiques actuelles -->
                    <!-- Chaque cellule récupère une valeur spécifique des données météo -->
                    <td th:text="${weatherData.weatherDataCurrentConditions.datetime}"></td>
                    <td th:text="${weatherData.weatherDataCurrentConditions.temp} + ' °C'"></td>
                    <td th:text="${weatherData.weatherDataCurrentConditions.humidity} + ' %'"></td>
                    <td th:text="${weatherData.weatherDataCurrentConditions.precipprob} + ' %'"></td>
                    <td th:text="${weatherData.weatherDataCurrentConditions.windspeed} + ' km/h'"></td>
                    <td th:text="${weatherData.weatherDataCurrentConditions.conditions}"></td>
                    <td th:text="${weatherData.weatherDataCurrentConditions.sunrise}"></td>
                    <td th:text="${weatherData.weatherDataCurrentConditions.sunset}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <table border="1">
        <!-- Tableau pour les conditions météorologiques sur 7 jours -->
        <h2>Conditions sur 7 jours</h2>
        <tbody>
            <!-- Boucle sur chaque jour dans weatherData.weatherDay pour afficher les données par jour -->
            <!-- Chaque ligne du tableau affiche une mesure météorologique différente pour chaque jour -->
            <tr>
                <th>Date</th>
                <td th:each="weatherDay : ${weatherData.weatherDay}">
                    <span th:if="${weatherDay.datetime != null}">
                        <span th:text="${#strings.capitalize(#temporals.format(weatherDay.datetime, 'EEEE'))}"></span><br/>
                        <span th:text="${#temporals.format(weatherDay.datetime, 'd MMMM')}"></span>
                    </span>
                </td>                
            </tr>

            <tr style="text-align: center;">
                <th></th>
                <td th:each="weatherDay : ${weatherData.weatherDay}"><img
                        th:src="@{'img/' + ${weatherDay.icon} + '.png'}" alt="Icon"
                        style="max-width: 100%; max-height: 100px;"></td>
            </tr>
            <tr>
                <th>Température</th>
                <td th:each="weatherDay : ${weatherData.weatherDay}" th:text="${weatherDay.temp} + ' °C'"></td>
            </tr>
            <tr>
                <th>Température Min</th>
                <td th:each="weatherDay : ${weatherData.weatherDay}" th:text="${weatherDay.tempmin} + ' °C'"></td>
            </tr>
            <tr>
                <th>Température Max</th>
                <td th:each="weatherDay : ${weatherData.weatherDay}" th:text="${weatherDay.tempmax} + ' °C'"></td>
            </tr>
            <tr>
                <th>Précipitation</th>
                <td th:each="weatherDay : ${weatherData.weatherDay}" th:text="${weatherDay.precipprob} + ' %'"></td>
            </tr>
            <tr>
                <th>Vitesse du vent</th>
                <td th:each="weatherDay : ${weatherData.weatherDay}" th:text="${weatherDay.windspeed} + ' km/h'"></td>
            </tr>
            <tr>
                <th>Levé du soleil</th>
                <td th:each="weatherDay : ${weatherData.weatherDay}" th:text="${weatherDay.sunrise}"></td>
            </tr>
            <tr>
                <th>Couché du soleil</th>
                <td th:each="weatherDay : ${weatherData.weatherDay}" th:text="${weatherDay.sunset}"></td>
            </tr>
        </tbody>
    </table>

    <h2>Conditions sur les prochaines 24 heures</h2>
    <div id="carouselExample" class="carousel slide" data-ride="carousel">
         <!-- Carousel pour afficher les conditions météorologiques des prochaines 24 heures -->
        <div class="carousel-inner">
            <div th:each="group, groupStat : ${groupedWeatherHours}" class="carousel-item"
            
                th:classappend="${groupStat.index == activeSlideIndex} ? 'active'">
                <div class="row">
                    <div th:each="hour : ${group}" class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">[[${hour.datetime}]]</h5>
                                <img th:src="@{'img/' + ${hour.icon} + '.png'}" alt="Icon" class="card-image">
                                <div class="data-container">
                                    <p class="card-text">Température : [[${hour.temp}]] °C</p>
                                    <p class="card-text">Humidité : [[${hour.humidity}]] %</p>
                                    <p class="card-text">Probabilité de précipitations : [[${hour.precipprob}]] %</p>
                                    <p class="card-text">Vitesse du vent : [[${hour.windspeed}]] km/h</p>
                                    <p class="card-text">Conditions : [[${hour.conditions}]]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <script th:inline="javascript">
        // Console.log pour appeler la fonction
        console.log('appelle à la fonction');
        // Met à jour le fragment de gestion
        updateManageFragment();
        // Ajoute un marqueur
        addMarker(/*[[${weatherData.longitude}]]*/ null, /*[[${weatherData.latitude}]]*/ null, /*[[${weatherData.address}]]*/ null, /*[[${weatherData.weatherDataCurrentConditions.temp}]]*/ null, /*[[${weatherData.weatherDataCurrentConditions.conditions}]]*/ null, /*[[${weatherData.weatherDataCurrentConditions.icon}]]*/ null);
   </script>

</div>


<div th:if="${#lists.isEmpty(weatherDataLists)}">
    <p>Aucune donnée météorologique disponible pour cette ville.</p>
</div>